.ebola-table {
    border-collapse: collapse;

    thead {
        display: none;
    }

    tbody tr {
        border-top: 1px solid #BFBFBF;
    }

    tbody tr:first-child {
        border: none;
    }

    td {
        padding: 5px 0;
    }
}

.ebola-size {
    position: relative;
}

.ebola-size-viz {
    border-radius: 50%;
    margin: auto auto;
    position: relative;
}

.ebola-deaths-viz {
    background-color: #005789;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.ebola-cases-viz {
    background-color: #4DC6DD;
}

.ebola-countries {
    width: 30%;
}