$medWidth: 460px;
$smallWidth: 360px;


.ebola-table-wrapper {
    color: $guDarkGrey;
    font-family: 'Guardian Egyptian Web';
    font-size: 12px;
    line-height: 1.2em;

    @media (min-width: $smallWidth) {
        font-size: 14px;
        line-height: 1.2em;
    }

    @media (min-width: $medWidth) {
        font-size: 16px;
        line-height: 1.3em;
    }

    h1 {
        color: $guDarkBlue;
        border-top: 6px solid $guLightBlue;
        width: 108px;
        overflow: visible;
        display: inline-block;
        white-space: nowrap;
        padding-top: 14px;
        margin-top: 0;
    }
}


.ebola-table {
    border-collapse: collapse;

    thead {
        display: none;
    }

    tbody tr {
        border-top: 1px solid #ECECEC;

        @media (min-width: $medWidth) {
            border-color: #BFBFBF;
        }
    }

    tbody tr:first-child {
        border: none;
    }

    td {
        padding: 4px 0;
        vertical-align: top;
        font-weight: 400;

        @media (min-width: $smallWidth) {
            padding: 6px 0;
        }

        @media (min-width: $medWidth) {
            padding: 10px 0;
        }
    }



    td.ebola-year {
        width: 4.5em;
    }

    td.ebola-year,
    td.ebola-cases,
    td.ebola-deaths {
        font-weight: 700;
    }

    td.ebola-deaths,
    td.ebola-cases {
        vertical-align: middle;
        text-align: right;
    }

    tr:first-child td.ebola-year,
    tr:first-child td.ebola-countries {
        vertical-align: middle;
    }

    tr:last-child td.ebola-deaths,
    tr:last-child td.ebola-cases {
        vertical-align: top;
    }

    tr:last-child .ebola-size-viz {
        margin: auto -10px;
    }

    td.ebola-cases {
        color: $guLightBlue;
        padding-right: 10px;
    }

    td.ebola-deaths {
        color: $guDarkBlue;
    }

    td.ebola-countries {
        font-family: 'Guardian Text Sans Web';
    }

    td.ebola-size {
        vertical-align: middle;
    }
}

.ebola-size {
    position: relative;
}

.ebola-size-viz {
    border-radius: 50%;
    margin: auto auto;
    position: relative;
    background-color: #005789;
    border-color: #4DC6DD;
    border-style: solid;
    box-sizing: border-box;
}

.ebola-countries {
    max-width: 200px;
}


.table-key {
    margin: 0;
}

.key {
    display: inline-block;
    margin-left: 20px;
}

.key:before {
    content: ".";
    text-indent: -100px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
    vertical-align: text-top;
}

.key-cases {
    margin-left: 15px;
    border-left: 1px solid $guLightGrey;
    padding-left: 24px;
}

.key-cases:before {
    background-color: $guLightBlue;
}

.key-deaths:before {
    background-color: $guDarkBlue;
}

.source {
    font-family: 'Guardian Text Sans Web';
    text-transform: 'uppercase';
    border-top: 1px solid $guLightGrey;
    padding-top: 3px;
    font-size: 12px;
}


/* Wide view */
.wide-mode {
    .ebola-countries,
    .ebola-cases,
    .ebola-deaths {
        display: none;
    }

    .ebola-table td.ebola-year {
        display: block;
        height: 50%;
        position: absolute;
        width: 50%;
        border-right: 1px solid #EEE;
        bottom: 0;
        padding: 0;
        left: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .ebola-table td.ebola-year span {
        position: absolute;
        width: auto;
        transform: rotate(-90deg);
        transform-origin: 0;
        bottom: 0;
        font-size: 11px;
        font-family: 'Guardian Text Sans Web';
        font-weight: 400;
        left: 100%;
        margin-left: -0.6em;
        height: 0;
        bottom: -3.5em;
        box-sizing: border-box;
    }

    .ebola-table tbody tr {
        border: none;
        display: table-cell;
        position: relative;
        padding: 0 4px;
    }

    .ebola-table tr:last-child .ebola-size-viz {
        margin: 0;
    }

    .source {
        margin-top: 4em;
    }

}