
<div class="header">
	<h1><div class="headerBorder"></div>Ebola outbreaks over time</h1>
	<div class="caseToggle">
		<p>Only show:</p>
		<div class="toggleButton">
			<button data-name="cases">Cases</button><button data-name="deaths">Deaths</button>
		</div>
	</div>
</div>
<div id="currentSliderInput">
	<span class="currentDeaths"></span> as of <strong><span class="currentDay"></span></strong>
</div>
<div class="circlesContainer"></div>
<div id="map">
	<div id="mapContainer"></div>
	<div id="map-key">
		<div class="color-bands"></div>
	</div>
	<div id="map-tooltip"><div id="map-tooltip-inner"></div></div>
	<div id="map-toggle">
		<div class="map-toggle-buttons">
			<button data-name="africa" class="active">Africa</button>
			<button data-name="world">World</button>
		</div>
	</div>
</div>
<div class="timeline">
	<div class="progressContainer">
		<div class="playButton" data-status="paused"></div>
		<div class="rangeContainer">
	  		<div id="slider-range"></div>

	  	</div>
	  </div>
</div>
<p class="footnote">Source: <a target="_blank" href="http://www.who.int/csr/disease/ebola/situation-reports/en/">WHO situation reports.</a> As these are probable suspected and confirmed cases, they are subject to revision by the World Health Organisation. Last report: <span class="reportDate"></span></p>
