<div class="ebola-table-wrapper">
    <h1>Ebola outbreak</h1>

    <p class="table-key">
        Key
        <span class="key key-cases">Cases</span>
        <span class="key key-deaths">Deaths</span>
    </p>

    <table class="ebola-table">
        <thead>
            <tr>
                <th>Year</th>
                <th>Country</th>
                <th>Size</th>
                <th>Cases</th>
                <th>Deaths</th>
            </tr>
        </thead>
        <tbody>
            <% if (typeof data === 'undefined') { %>
                <p>Loading...</p>
            <% } else { _.each(data, function(row) { %>
                <tr class="year-<%= row.year %>">
                    <td class="ebola-year"> <span><%= row.year %> </span></td>
                    <td class="ebola-countries"> <%= row.countries %> </td>
                    <td class="ebola-size">

                        <div
                            class="ebola-size-viz ebola-cases-viz"
                            style="width: <%= row.casesSize %>px; height: <%= row.casesSize %>px; border-width: <%= row.deathsSize %>px;">
                        </div>

                    </td>
                    <td class="ebola-cases"> <%= row.casesFormated %> </td>
                    <td class="ebola-deaths"> <%= row.deathsFormated %> </td>
                </tr>
            <% }); } %>
        </tbody>
    </table>

    <p class="source">SOURCE: WHO</p>
</div>
