/**
 * Project: Project name
 * File:    Main SCSS
 */

@import "bower_components/sass-mq/_mq";
@import "bower_components/guss-css3/_css3";
@import "bower_components/guss-colours/_colours";
@import "bower_components/guss-colours/_helpers";
@import "bower_components/guss-rem/_rem";
@import "bower_components/guss-grid-system/_grid-system";
@import "bower_components/guss-layout/_row";
@import "bower_components/guss-layout/_columns";
@import "bower_components/guss-typography/_helpers";
@import "bower_components/guss-typography/_font-scale";
@import "bower_components/guss-forms/_forms";

$c-brand: guss-color(guardian-brand);
body{
	margin:0;
}

@import 'reset';
@import 'colours';
@import 'table';

.element-interactive{
	margin:0;
	font-family:"Guardian Egyptian Web";
	-webkit-font-smoothing: antialiased;

	#map{
		path{
			fill:#ccc;
			stroke-width:0.5;
			stroke:#fff;
		}
		path:hover{
			fill:#aaa;
		}
	
	}

	.countryContainer{
		display:inline-block;
		text-align: center;
		margin: 0 1px;
		background:rgba(255,255,255,0.5);
		// border:1px solid #ddd;
		padding:5px;
		.circleContainer{
			margin:0 auto;
		}
		.circle{
			background:#005689;
			border-radius:50%;
			display:inline-block;
		}
		&.no-data{
			.circle{
				background:#aaa;
			}
		}
	}

}
