/**
 * Project: Project name
 * File:    Main SCSS
 */

@import "bower_components/sass-mq/_mq";
@import "bower_components/guss-css3/_css3";
@import "bower_components/guss-colours/_colours";
@import "bower_components/guss-colours/_helpers";
@import "bower_components/guss-rem/_rem";
@import "bower_components/guss-grid-system/_grid-system";
@import "bower_components/guss-layout/_row";
@import "bower_components/guss-layout/_columns";
@import "bower_components/guss-typography/_helpers";
@import "bower_components/guss-typography/_font-scale";
@import "bower_components/guss-forms/_forms";

$c-brand: guss-color(guardian-brand);
body{
	margin:0;
}

@import 'reset';
@import 'colours';
@import 'table';
@import 'fonts';
@import 'nouislider';

.element-interactive{
	margin:0;
	font-family:"Guardian Egyptian Web", Georgia,serif;
	-webkit-font-smoothing: antialiased;
	color:#333;
	.mapView{
		max-width:620px;
	}
	h1{
		font-size:24px;
		color:#005689;
		width:auto;
		display:inline-block;
		margin-top:0;
		margin-bottom:5px;
		
		.headerBorder{
			border-top:4px solid #52c6d8;
			width:70px;
			margin-bottom:4px;
		}
	}
	.header{
		overflow:hidden;
	}
	.caseToggle{
		display:inline-block;
		vertical-align: 2px;
		font-family:'Guardian Text Sans Web', Arial;
		p{
			margin:0;
			font-size:12px;
			display:inline-block;
		}
		.toggleButton{
			display:inline-block;
			font-size:0;
			button{
				background:#F5F5F5;
				height:22px;
				padding:1px 10px 0;
				outline:none;
				font-size:12px;
				font-family:'Guardian Text Sans Web', Arial;
				line-height:1em;
				cursor:pointer;
				display:inline-block;
				margin:0;
				&:first-child{
					border-radius:99999px 0 0 99999px;
					border-top:1px solid #DCDCDC;
					border-left:1px solid #DCDCDC;
					border-bottom:1px solid #DCDCDC;
					border-right:none;
					&.active{
						background:#52c6d8;
					}
				}
				&:last-child{
					border-radius:0 99999px 99999px 0;
					border-top:1px solid #DCDCDC;
					border-right:1px solid #DCDCDC;
					border-bottom:1px solid #DCDCDC;
					border-left:none;
					&.active{
						background:#E3672A;
					}
				}
				&.active{
					border:none;
					cursor:default;
				}
				
			}
		}
	}

	#map{
		display: inline-block;
		position: relative;
		width: 100%;
		vertical-align: middle;
        overflow: hidden;
		
		path{
			fill:#eee;
			stroke-width:1.5;
		}
		path:hover{
			fill:#aaa;
		}
		#mapContainer{
			width:100%;
			height:0;
			padding-bottom:50%;
			position:relative;
			svg{
				width:100%;
				height:100%;
				position: absolute;
				max-height:100%;
			}
		}

		#map-tooltip {
			position: absolute;
			height: 30px;
			margin-top: -30px;
			margin-left: -1px;
			border-left: 1px dotted #333;
			text-align: center;
			display: none;
		}

		#map-tooltip-inner {
			position: absolute;
			transform:translateX(-50%);
			margin-top: -5px;
			text-align: center;
		}

		#map-tooltip-inner p {
			display: inline-block;
			padding: 5px;
			margin: 0 0 0 0;
			white-space: nowrap;
  			overflow: hidden;
  			background:rgb(255,255,255);
  			border:1px solid #aaa;
  			box-sizing:border-box;
			box-shadow:1px 1px 3px rgba(0,0,0,0.2);
			font-size: 14px;
			font-weight: 500;
		}

		#map-key {
		  width: 20%;
		  position: absolute;
		  bottom: 15px;
		  left: 0;
		  font-family: "Guardian Text Sans Web", Arial, sans-serif;
		  color: #767676;
			h3 {
			  font-weight: bold;
			  padding: 0 0 5px 0;
			  margin: 0;
			  font-size: 12px;
			}
			p {
			  padding: 5px 0 0 0;
			  margin: 0;
			  font-size:12px;
			}
			.color-bands{
				width:100%;
				&:after{
					content: '';
					clear:both;
					display: block;
				}
			}
			.key-band {
			  float: left;
			  height: 10px;
			}
		}
	}
	.circlesContainer{
		margin-top:10px;
		margin-bottom:0;
		text-align: left;
		font-size:0;
		&:after{
			clear:both;
			display:block;
			content:'';
		}
	}
	.countryContainer{
		display:inline-block;
		text-align: center;
		margin: 0;
		vertical-align: top;
		background:rgba(255,255,255,0.5);
		padding:0 0 5px;
		z-index:1;
		border:1px solid transparent;
		position: relative;
		h2{
			font-size:12px;
			font-family:'Guardian Text Sans Web', Arial;
			margin:4px 0 2px;
			&:before{
				content:attr(data-countrycode);
				text-transform: uppercase;
				color:#333;
			}
		}
		h3{
			font-size:11px;
			font-family:'Guardian Text Sans Web', Arial;
			margin:0;
			font-weight:normal;
			color:#333;
		}
		.circleContainer{
			margin:0 auto;
		}
		.circle{
			background:#52C6D8;
			border-radius:9999px;
			display:inline-block;
		}
		&.no-data{
			.circle{
				background:#aaa;
			}
		}
		&:hover{
			border:1px solid #aaa;
			box-shadow:0 1px 3px rgba(0,0,0,0.2);
			z-index:2;
		}
		@media(min-width:479px){
			h2:before{
				font-size:14px;
				content:attr(data-countryname);
				text-transform: none;
			}
		}
	}
	.progressContainer{
		width:100%;
		height:28px;
		position: relative;
		border-top:1px solid #eee;
		padding-top:5px;
	}
	.playButton{
		width:32px;
		height:32px;
		border-radius:99999px;
		background:#333;
		position:absolute;
		cursor:pointer;
		left:0;
		&[data-status="paused"]:before {
			content: '';
			position: absolute;
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0.4em 0 0.4em 0.96em;
			border-color: transparent transparent transparent #f1f1f1;
			-moz-transform: scale(0.99999);
			top: 50%;
			left: 0;
			margin-top: -.4em;
			margin-left: 0.6em;
		}
		&[data-status="playing"]:before {
			content:'';
			position: absolute;
			display: block;
			height:13px;
			width:2px;
			border-right:4px solid;
			border-left:4px solid;
			border-color:#f1f1f1;
			left:11px;
			top:10px;
		}
		&:hover{
			background:#ffbb00;
			&[data-status="paused"]:before {
				border-color: transparent transparent transparent #333;
			}
			&[data-status="playing"]:before {
				border-color:#333;
			}
		}
	}
	.rangeContainer{
		margin-left:52px;
		box-sizing:border-box;
		margin-right:10px;
		top:4px;
		position: relative;
		padding-top:1px;
	}
	// input[type=range]::-webkit-slider-runnable-track{
	// 	height:8px;
	// 	background:red !important;
	// }
	#slider-range{
		border-radius:4px;
		height:8px;
		background:#f5f5f5;
		border:1px solid #dcdcdc;
		margin-top:7px;
		.noUi-handle{
			border-radius:4px;
			height:20px;
			width:20px;
			background:#333;
			box-shadow:none;
			border:none;
			left:-10px;
			cursor:ew-resize;
			&:before,&:after{
				display:none;
				content:'';
			}
		}
	}

		
	#currentSliderInput{
		padding-top:3px;
		padding-bottom:3px;
		margin-top:5px;
		font-size:14px;
		font-weight:bold;
		text-align: justify;
		border-top:1px solid;
		border-bottom:1px solid;
		border-color:#DFDFDF;
		div{
			display:inline-block;
			min-width:100px;
			line-height: 1em;
			span{
				display:block;
				font-weight:normal;
				margin-top:0.2em;
			}
		}
		@media(min-width:480px){
			font-size:16px;
			line-height:1.5em;

			div{
				min-width:none;
				margin-right:40px;
				span{
					display:inline-block;
				}
			}
		}
	}
	.footnote{
		font-size:11px;
		font-family:'Guardian Text Sans Web', Arial;
		color:#555;
	}


	@media(min-width:530px){
		.caseToggle{
			float:right;
			padding-top:8px;
			margin-bottom:0;
			.toggleButton{
				button{
					height:28px;
					font-size:13px;
				}
			}
			p{
				font-size:14px;
			}
		}
	}

}




